.main-container {
    margin: 0 4rem;
}

@media (max-width: 700px) {
    .main-container {
        margin: 0 2rem;
    }
}

@media (max-width: 420px) {
    .main-container {
        margin: 0 1rem;
    }
}